<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invitado</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <header>
        <a href="">Registrarse</a>
        <a href="">Iniciar Sesión</a>
    </header>
    <section class="sec-ppal">
        <h1>
            <span>za</span>
            <span>bo</span>
            <span>ra</span>
        </h1>
        <img src="../assets/images/imgIndex3.png" alt="">
    </section>

    <section class="containerInvitado">
        <img src="../assets/images/chatgptImg.png" alt="">
        <div class="infoInvitado">
            <h2>Sabor y salud: Juntos en cada bocado</h2>
            <p>Porque cada cuerpo es diferente, nuestras recetas también lo son.
                Personalizamos tus comidas según tus condiciones de salud, para que alimentarte bien sea fácil, seguro y
                sabroso.</p>
            <a href="#">Probar ahora</a>
        </div>
    </section>

    <section class="sec-comidaDia">
        <h2>Buenos dias</h2>
        <div class="containerComidas">
            <img src="../assets/images/desayuno.jpg" alt="desayuno del dia">
            <div class="containerInfo">
                <div class="infoComida mañana">
                    <h3>Desayuno del día</h3>
                    <p>Avena con frutas y semillas</p>
                    <a href="">Preparar 🡢</a>
                </div>
                <div class="infoComida">
                    <h3>Desayuno del día</h3>
                    <p>Avena con frutas y semillas</p>
                    <a href="">Preparar 🡢</a>
                </div>
                <div class="infoComida">
                    <h3>Desayuno del día</h3>
                    <p>Avena con frutas y semillas</p>
                    <a href="">Preparar 🡢</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>