<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registro</title>
  <link rel="stylesheet" href="../styles/login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <a href="#"><img class="logo" src="../assets/img/logo.png" alt="Logo Zabora"></a>
  </header>

  <div class="main-container">
    <section class="form-section">
      <div class="campoIniciar">
        <h1>Regístrate en Zabora</h1>
        <form method="post" action="/registro">
          
          <label for="nombre">
            <input type="text" id="nombre" name="nombre" placeholder=" " required />
            <span>Nombre completo</span>
          </label>

          <label for="email">
            <input type="email" id="email" name="email" placeholder=" " required />
            <span>Correo electrónico</span>
          </label>

          <label for="password">
            <input type="password" id="password" name="password" placeholder=" " required />
            <span>Contraseña</span>
          </label>

          <label for="confirm-password">
            <input type="password" id="confirm-password" name="confirm-password" placeholder=" " required />
            <span>Confirmar contraseña</span>
          </label>

          <div class="recordar-olvidar">
            <label for="terms">
              <input type="checkbox" id="terms" name="terms" required>
              Acepto los términos
            </label>
            <a href="#">¿Necesitas ayuda?</a>
          </div>

          <button type="submit">Registrarse</button>

          <p>O registrarse con</p>
          <div class="social-login">
            <a href="/auth/google"><img src="../assets/img/google.png" alt="Google"></a>
            <a href="#"><img src="../assets/img/facebook.png" alt="Facebook"></a>
          </div>

          <p class="recordar-olvidar">¿Ya tienes una cuenta? <a href="./login.html">Inicia sesión</a></p>
        </form>
      </div>
    </section>
  </div>
</body>
</html>
